# allowUpdateCheck (boolean:true) -- Set to true to allow checking for updates for ALL of my mods, false to disable
# allowDebugOutput (boolean:false)
# updateTimeoutMilliseconds (int:1500) -- The timeout in milliseconds for the version update check.
# 
# Sun Mar 16 23:22:08 GMT 2025
allowDebugOutput=false
allowUpdateCheck=true
updateTimeoutMilliseconds=1500
