#MLProperties: name (type:default) min:max -- information
#MLProp : wrongPlace (int:1,>=1.0) -- You're looking in the wrong place for the mod's properties file. Check /mods/portalgun/ for mod_PortalGun.properties
#
#Wed May 22 18:49:49 BST 2024
checksum=1
wrongPlace=1
