#MLProperties: name (type:default) min:max -- information
#MLProp : allowUpdateCheck (boolean:true) -- Set to true to allow checking for updates for ALL of my mods, false to disable
#
#Wed Jun 21 01:30:57 BST 2023
allowUpdateCheck=true
