#MLProperties: name (type:default) min:max -- information
#MLProp : allowUpdateCheck (boolean:true) -- Set to true to allow checking for updates for ALL of my mods, false to disable
#
#Fri Jun 07 15:14:27 BST 2024
allowUpdateCheck=true
