#MLProperties: name (type:default) min:max -- information
#MLProp : allowUpdateCheck (boolean:true) -- Set to true to allow checking for updates for ALL of my mods, false to disable
#
#Sun Nov 19 23:23:17 GMT 2023
allowUpdateCheck=true
